Schema/Schema1.rnc

start = meme
meme = element meme {title, format}
title = element title {text}
format = element format {type, phrase+}
type = attribute type {text}
phrase = element phrase {n, word+}
n = attribute n {text}
word = element word {pos, presence?, role?, text}
pos = attribute pos {text}
presence = attribute presence {text}
role = attribute role {text}

