Schema/Schema1.rnc

start = meme
meme = element meme {title, \text}
title = element title {text}
# Rebekah: Do we use format at all?#
format = element format {type, frag+}
type = attribute type {text}
frag = element frag {n, phrase+}
\text = element text {type, frag+}
n = attribute n {text}
phrase = element phrase {pos, presence?, role?, text}
pos = attribute pos {text}
presence = attribute presence {text}
role = attribute role {text}